:root{
    --height: 40px;
    --height-header: 70px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #1f1f1f;
    font-family: SF Pro Display;
    /* align-content: flex-start; */
    transition: all 0.1s ease;
    font-size: 12px;
}
/* ::-webkit-scrollbar{
    width: 10px;
    background: #fff;
} */
img{
    width: 100%;
}
div, a{
    display: grid;
}
body{
    background: #e3e2e7;
}
.header{
    height: var(--height-header);
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1235px;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
}
.logo{
    align-items: center;
    font-weight: 900;
}
.menu{
    margin-left: -170px;
}
.header_height{
    height: var(--height-header);
    background: #fff;
    box-shadow: 0 0 2px 2.5px rgba(0, 0, 0, 0.125);
}
.menu{
    background: red;
    align-content: flex-start;
    position: absolute;
    height: 100vh;
    color: #fff;
    background: rgb(227, 226, 231);
    box-shadow: 0 0 2px 2.5px rgba(0, 0, 0, 0);
}
.menu_title{
    padding: 10px;
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    background: #ffffff;
}
.menu_logo{
    display: flex;

    margin-right: -130px;
    gap: 10px;

}
.menu_open_close{
    border: 2px solid #1f1f1f;
    
    width: 25px;
    height: 25px;
}
.menu_group{
    padding: 10px;
    align-content: flex-start;
    height: 100vh;
    gap: 10px;
}
.menu_group a{
    width: 150px;
    border-right: 1px solid #1f1f1f;
    color: #1f1f1f;
    padding: 2.5px 0;
}
.main{
    margin: auto;
    max-width: 1235px;
}
.group{
    grid-template-columns: repeat(auto-fit, 200px);
    margin: 10px 5px;
    gap: 5px;
    justify-content: center;
}
.block{
    background: #fff;
    gap: 10px;
    padding: 10px;
}
.photo{
    max-width: 200px;
    margin: auto;
}
.info{
    gap: 10px;
}
.title{
    overflow: hidden;
    height: 43px;
}
.name{
    align-content: flex-start;
    text-transform: uppercase;
}
.price{
    font-weight: 900;
    font-size: 14px;
}
.buy{
    grid-template-columns: 1fr var(--height);
    height: var(--height);
    gap: 10px;
}
.favorites{
    color: #ffffff;
    background: #2196f3;
    user-select: none;
}
.trash_block{
    background: #fff;
    user-select: none;
}
.trash{
    background: #2196f3;
    border: 2px solid #2196f3;
    color: #fff;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    height: var(--height);
    user-select: none;
    border-radius: 5px;
}
@media (max-width: 395px) {
    .group{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 300px) {
    .group{
        grid-template-columns: 1fr;
    }
}