:root{
    --height: 40px;
    --height-header: 70px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #1f1f1f;
    font-family: SF Pro Display;
    /* align-content: flex-start; */
    transition: all 0.1s ease;
    font-size: 12px;
}
::-webkit-scrollbar{
    width: 0;
    background: #fff;
}
img{
    width: 100%;
}
div, a{
    display: grid;
}
body{

}
.container{
    max-width: 1120px;
    margin: auto;
}
.header{
    display: flex;
    height: var(--height-header);
    background: #fff;
    align-items: center;
    padding: 20px;
    gap: 60px;
}
.header *{
    font-size: 24px;
}
.header .header_logo{
    display: flex;
    font-weight: 300;
}
.header .header_logo span{
    font-weight: 900;
}
.header .header_location{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.header .header_location_ico{
    padding: 25px 10px;
    height: var(--height-header);
}
.main{
    margin: auto;
    width: 100%;
    padding: 20px;
}
.group{
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    justify-content: center;
}
.block{
    background: #fff;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 0 2.5px 2.5px #00000015;
    border-radius: 5px;
    transition: all 0.25s ease;
    height: 100%;
    
}
.block:hover{
    box-shadow: 0 0 5px 5px #00000025;
}
.photo:hover{
    
}
.photo{
    border-radius: 5px;
    max-width: 200px;
    margin: auto;
    height: 100%;
}
.info{
    gap: 10px;
}
.title{
    overflow: hidden;
    height: 43px;
}
.name{
    align-content: flex-start;
    text-transform: uppercase;
}
.price{
    font-weight: 900;
    font-size: 14px;
}
.buy{
    grid-template-columns: 1fr var(--height);
    height: var(--height);
    gap: 10px;
}
.favorites{
    color: #ffffff;
    background: #2196f3;
    user-select: none;
}
.trash_block{
    background: #fff;
    user-select: none;
}
.trash{
    background: #2196f3;
    border: 2px solid #2196f3;
    color: #fff;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    height: var(--height);
    user-select: none;
    border-radius: 5px;
}
@media (max-width: 395px) {
    .group{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 300px) {
    .group{
        grid-template-columns: 1fr;
    }
}