:root{
    --height: 40px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #1f1f1f;
    font-family: SF Pro Display;
    /* align-content: flex-start; */
    transition: all 0.1s ease;
    font-size: 12px;
}
::-webkit-scrollbar{
    width: 10px;
    background: #fff;
}
img{
    width: 100%;
}
div, a{
    display: grid;
}
body{
    background: #e3e2e7;
}
.main{
    margin: auto;
    max-width: 1245px;
}
.group{
    grid-template-columns: repeat(auto-fit, 200px);
    margin: 10px;
    gap: 5px;
    justify-content: center;
}
.block{
    background: #fff;
    gap: 10px;
    padding: 10px;
}
.photo{
    max-width: 200px;
    margin: auto;
}
.info{
    gap: 10px;
}
.title{
    overflow: hidden;
    height: 43px;
}
.name{
    align-content: flex-start;
    text-transform: uppercase;
}
.price{
    font-weight: 900;
    font-size: 14px;
}
.buy{
    grid-template-columns: 1fr var(--height);
    height: var(--height);
    gap: 10px;
}
.favorites{
    color: #ffffff;
    background: #2196f3;
    user-select: none;
}
.trash_block{
    background: #fff;
    user-select: none;
}
.trash{
    background: #2196f3;
    border: 2px solid #2196f3;
    color: #fff;
    padding: 0 5px;
    align-items: center;
    justify-content: center;
    height: var(--height);
    user-select: none;
    border-radius: 5px;
}
@media (max-width: 395px) {
    .group{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 326px) {
    .group{
        grid-template-columns: 1fr;
    }
}